RewriteEngine On

# Se a pasta ou arquivo existe, sirva-o diretamente
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Caso contrário, redirecione para index.php
RewriteRule . index.php